/*styles go here*/
html{
  font-size:100%;
}



p {
  color:#e5e3e3;
  font-family:'Roboto', Helvetica, Arial, sans-serif;
  font-size:1em;
}

h1 {
  font-family:"Merriweather", georgia, "Times New Roman", serif;
  color: #111;
  font-weight: bold;
  font-size:1em;
}

body {
  background-color:grey;
  text-align: center;
}


/*#nav {
  text-align: center;
  padding: 0;
  list-style-type: none;
  font-family:  'Merriweather Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 100%;
}

#nav li {
  text-align: center;
  margin: 0 ;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display: block;
  color:#111;
  background-color: #de2d26;
  font-weight: bold;
  text-decoration: none;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color:#e6550d;
}*/

/*Flex assignment2*/
/*.navigation{
	list-style: none;
	margin: 0;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color:#e5e3e3;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}*/


.caption{
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 0;
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
}

.title{ font-style: italic;
}

/*#footer {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}*/

/*img {
   width: 100%;
   height: auto;
}*/


header {
  background: tomato;
}

article {
  background: grey;
}

footer {
  background: tomato;
  font-family: 'Ubuntu', sans-serif;
  border-top: 1px solid black;
}



.aside-1 {
  background:#76acc9;

}

.aside-2 {
  background: #76acc9;
}

/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header,  article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

img, .caption {
    display: none;
}


nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}


header {
    display: flex;
    flex-flow: row;
    margin:0;
    padding: 0 10px;
    justify-content: space-between;
}

.menu-trigger {
    color: #f8ecc2;
    order: 1;
    font-size: 1.75em;
     width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

/*These styles activate when the page is larger than 600px wide*/
@media screen and (min-width:600px) {

  nav ul {
      display: flex;
  }


  nav ul li {
      border-top: none;
  }

  .menu-trigger {
      display: none;
  }

  header h1 {
      order: 2;
  }

  nav {
      order: 1;
  }

  img, .caption{
    display: block;
    margin:auto;
  }

  .navigation {
      flex-flow: row;
      justify-content: space-between;
    }

}

@media screen and (min-width:800px) {

   .navigation a {
       border: none;
   }

     .navigation a:hover {
     	background: black;
     }

     aside {
         flex: 1 auto;
     }

     article {
 		flex: 10 0px;
     max-width: 40em;
 	}

     .aside-1 {
         order: 1;
         flex: 1;
     }

     article {
         order: 2;
     }

     .aside-2 {
         order: 3;
     flex: 1;
   }

     footer {
         order: 4;
     }
 /*These styles apply to the floated image technique*/
     article {
       display: flex;
       flex-flow: row;
       flex:2;
       width:40%;
   }

     .image {
       margin-top: 0;
       width:50%;
       overflow: auto;
        }

     .story {
         width: 50%;
     }

     .first {
         margin-top: 0;
     }

   }
